<div class="column">
  <div class="card">
    <% if product.image.present? %>
      <div class="card-image">
        <figure class="image">
          <%= image_tag product.image,  alt: "MyInc Logo"%>
        </figure>
      </div>
    <% end %>
      <div class="card-content">
        <p class="title">
          <strong><%= link_to product.name, product %></strong>
        </p>
        <p>Price: $<%= product.price %></p>
      </div>
      <footer class="card-footer">
        <% if @cart.include?(product)%>
          <p><%= button_to 'remove from cart', remove_from_cart_path(product), method: :delete, class:"button is-success button is-small" %>
        <% else %>
          <a href="#" class="card-footer-item"><button class="button is-info"><%= link_to 'add to cart', add_to_cart_path(product.id), method: :post%></button></a>
        <% end %>
        <%= button_to 'Buy Now', checkout_create_path, params:{id: product.id}, remote: true,  class:"button is-success"%>
      </footer>
  </div>
</div>