<h3 class="title is-4">All Products are listed below:</h3>
<details>
  <summary>Shopping Cart</summary>
  <ul>
    <% @cart.each do |product|%>
    <li><%= product.name%> x <%= @var.fetch(product.id.to_s) %><%= button_to 'remove from cart', remove_from_cart_path(product.id), method: :delete, class:"button is-success button is-small" %>
      <%= form_with(url: edit_quantity_path(product), local: true, method: "get") do %>
        <div class="field has-addons">
          <div class="control">
            <%= text_field_tag(:quantity, nil, class: 'input', placeholder:'enter qantity   ') %>
          </div>
          <div class="control">
            <%= submit_tag("submit", class: "button is-info") %>
          </div>
        </div>
      <% end %>
    <% end %>
  </ul>
</details>
<%= paginate @products %>
  <div class="columns is-multiline is-mobile">
    <%= render partial: 'products/product',
            collection: @products%>

  <div>
<%= paginate @products %>
