<!DOCTYPE html>
<html>
  <head>
    <title>PandaTeaOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
     <header>
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation" style="margin-top:0px; padding-right:0px; paddingleft:0px;">
        <div class="navbar-brand">

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href ="/root">Home</a>
            <a class="navbar-item" href ="/products">All products</a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Categories
              </a>
              <div class="navbar-dropdown" >
                <a class="navbar-item" href ="/categories">
                  All
                </a>
                <a class="navbar-item">
                  Green
                </a>
                <a class="navbar-item">
                  Black
                </a>
                <a class="navbar-item">
                  Oolong
                </a>
                <a class="navbar-item">
                  Pu-erh
                </a>
                <a class="navbar-item">
                  Coffee
                </a>
                <a class="navbar-item">
                  Accessories
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  <%= link_to 'About', permalink_path('about_us') %>
                </a>
                <a class="navbar-item">
                  <%= link_to 'Contact Us', permalink_path('contact') %>
                </a>
              </div>
            </div>
            </div>
          </div>
      </nav>
    </header>
    <br>
    <div class="main" style="padding:64px, 0px, 32px;">
    <%= render partial: 'products/search_form'%>
    <%= yield %>
    </div>
  </body>
</html>
